<div class="upload">
    <style>
        .icon-remove::before{
            content: url("/img/close.png");
        }
        .error{
            color:red
        }
    </style>
    <div>
        <div style="float:right;">
            <button ng-disabled="!needToUpload" ng-click="btn_upload()">Upload</button>
            <button ng-click="btn_clean()">Remove all</button>
        </div>
        <input type="file" id="fileSelector" multiple value="{{selectorDisplay}}"/>
        <span ng-show="uploaded && files.length>1">{{files.length}} files are uploaded!</span>
        <span ng-show="uploaded && files.length===1">1 file is uploaded!</span>
    </div>
    <span ng-repeat="error in errors track by $index" class="error" >{{error}}<br></span>
    <div ng-repeat="file in files track by $index" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
        <div>
            <span>{{file.name}}</span>
            <span ng-show="file.error" class="error">(Failed)</span>
            <span ng-show="file.uploaded" style="color:green">(Done)</span>
            <div style="float:right;">
                <span>{{file.humanSize}}</span>
                <a href="#" ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a>
            </div>
        </div>
        <progress style="width:200px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
    </div>
</div>
